body {
   margin-top: 70px;
}

.greyed-text {
    color: gray;
}

.sentence-panel {
    font-size: 16pt;
    font-weight: bold;
}

.sentence-panel .btn {
    font-weight: bold;
}

.navbar-text {
    font-size: 20pt;
}

.panel-default .panel-heading .badge {
    background-color: gray;
}

.mail_body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 14pt;
}

.highlighted {
   background-color: yellow;
}

#graph_canvas {
    width: 100%;
    height: 100%;
    display: block;
}
