{% extends "base.html" %}
{% block head %}
    {% include "elements/_head.html" %}
{% endblock %}
{% block header %}
    {% include "elements/_header.html" %}
{% endblock %}
{% block sidebar %}
    {% include "elements/_sidebar.html" %}
{% endblock %}
{% block sidebar_footer %}
    {% include "elements/_sidebar_footer.html" %}
{% endblock %}
{% block footer %}
    {% include "elements/_footer.html" %}
{% endblock %}
{% block modal_media %}
    {% include "elements/_modal_media.html" %}
{% endblock %}
{% block modal_confirm %}
    {% include "elements/_modal_confirm.html" %}
{% endblock %}
{% block content %}
    <!-- {% include "elements/_content_test.html" %} -->
<article class="content dashboard-page">
    <section class="section">
        <div class="row sameheight-container">
            <!-- website statistics -->
            <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                <div class="card sameheight-item stats" data-exclude="xs">
                    <div class="card-block">
                        <div class="title-block">
                            <h4 class="title"> Summary </h4>
                            <p class="title-description"> Website metrics for
                                <a href="/"> Cognuts Security Intelligence</a>
                            </p>
                        </div>
                        <div class="row row-sm stats-container">
                            <div class="col-xs-12 col-sm-6 stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> {{ apps | length }} </div>
                                    <div class="name"> Active Apps </div>
                                </div>
                                <progress class="progress stat-progress" value="15" max="100">
                                    <div class="progress">
                                        <span class="progress-bar" style="width: 15%;"></span>
                                    </div>
                                </progress>
                            </div>
                            <div class="col-xs-12 col-sm-6 stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> 10.563 </div>
                                    <div class="name"> Requests </div>
                                </div>
                                <progress class="progress stat-progress" value="50" max="100">
                                    <div class="progress">
                                        <span class="progress-bar" style="width: 50%;"></span>
                                    </div>
                                </progress>
                            </div>
                            <div class="col-xs-12 col-sm-6 stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> 1 </div>
                                    <div class="name"> Users </div>
                                </div>
                                <progress class="progress stat-progress" value="1" max="100">
                                    <div class="progress">
                                        <span class="progress-bar" style="width: 1%;"></span>
                                    </div>
                                </progress>
                            </div>
                            <div class="col-xs-12 col-sm-6 stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> 519 </div>
                                    <div class="name"> Threats discovered </div>
                                </div>
                                <progress class="progress stat-progress" value="10" max="100">
                                    <div class="progress">
                                        <span class="progress-bar" style="width: 10%;"></span>
                                    </div>
                                </progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Request history -->
            <div class="col col-xs-12 col-sm-12 col-md-6 col-xl-7 history-col">
                <div class="card sameheight-item" data-exclude="xs">
                    <div class="card-header card-header-sm bordered">
                        <div class="header-block">
                            <h3 class="title">Request history</h3>
                        </div>
                        <ul class="nav nav-tabs pull-right" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#requests" role="tab" data-toggle="tab">Requests</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#downloads" role="tab" data-toggle="tab">Downloads</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-block">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active fade in" id="requests">
                                <p class="title-description"> Number of requests last 30 days </p>
                                <div id="dashboard-visits-chart"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="downloads">
                                <p class="title-description"> Number of downloads last 30 days </p>
                                <div id="dashboard-downloads-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}
