<div class="sidebar-header">
    <div class="brand">
        <div class="logo">
            <!--<span class="l l1"></span>-->
            <!--<span class="l l2"></span>-->
            <!--<span class="l l3"></span>-->
            <!--<span class="l l4"></span>-->
            <!--<span class="l l5"></span>-->
            <a href="/">
                <img src="/assets/logo.png" alt="" style="width: 45px; margin-top: -50px; margin-left: -10px;">
            </a>
        </div>
        Cognuts Security
    </div>
</div>
<nav class="menu">
    <ul class="nav metismenu" id="sidebar-menu">
        <li {% if navlink_l1 == 'home' %} class="active" {% endif %}>
            <a href="/"> <i class="fa fa-home"></i> Dashboard </a>
        </li>
        <li {% if navlink_l1 == 'apps' %} class="open active" {% endif %}>
            <a href="">
                <i class="fa fa-th-large"></i> Apps
                <i class="fa arrow"></i>
            </a>
            <ul>
                {% for app in apps %}
                    <li {% if navlink_l2 == app.name %} class="active" {% endif %}>
                        <a href={{ app.link }}> {{ app.name }} </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li {% if navlink_l1 == 'inventory' %} class="open active" {% endif %}>
            <a href="">
                <i class="fa fa-cube"></i> Inventory Manager
                <i class="fa arrow"></i>
            </a>
            <ul>
                <li {% if navlink_l2 == 'datasets' %} class="active" {% endif %}>
                    <a href="/inventory/datasets"> Data Inventory </a>
                </li>
                <li {% if navlink_l2 == 'checkpoints' %} class="active" {% endif %}>
                    <a href="/inventory/checkpoints"> Checkpoints </a>
                </li>
            </ul>
        </li>
        <!-- <li>
            <a href="">
                <i class="fa fa-bar-chart"></i> Charts
                <i class="fa arrow"></i>
            </a>
            <ul>
                <li>
                    <a href="Modules/charts-flot.html"> Flot Charts </a>
                </li>
                <li>
                    <a href="Modules/charts-morris.html"> Morris Charts </a>
                </li>
            </ul>
        </li> -->
        <!-- <li>
            <a href="">
                <i class="fa fa-table"></i> Tables
                <i class="fa arrow"></i>
            </a>
            <ul>
                <li>
                    <a href="static-tables.html"> Static Tables </a>
                </li>
                <li>
                    <a href="responsive-tables.html"> Responsive Tables </a>
                </li>
            </ul>
        </li> -->
        <!-- <li>
            <a href="forms.html">
                <i class="fa fa-pencil-square-o"></i> Forms </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-desktop"></i> UI Elements
                <i class="fa arrow"></i>
            </a>
            <ul>
                <li>
                    <a href="buttons.html"> Buttons </a>
                </li>
                <li>
                    <a href="cards.html"> Cards </a>
                </li>
                <li>
                    <a href="typography.html"> Typography </a>
                </li>
                <li>
                    <a href="icons.html"> Icons </a>
                </li>
                <li>
                    <a href="grid.html"> Grid </a>
                </li>
            </ul>
        </li> -->
        <!-- <li>
            <a href="">
                <i class="fa fa-file-text-o"></i> Pages
                <i class="fa arrow"></i>
            </a>
            <ul>
                <li>
                    <a href="/login"> Login </a>
                </li>
                <li>
                    <a href="/signup"> Sign Up </a>
                </li>
                <li>
                    <a href="/reset"> Reset </a>
                </li>
                <li>
                    <a href="error-404.html"> Error 404 App </a>
                </li>
                <li>
                    <a href="error-404-alt.html"> Error 404 Global </a>
                </li>
                <li>
                    <a href="error-500.html"> Error 500 App </a>
                </li>
                <li>
                    <a href="error-500-alt.html"> Error 500 Global </a>
                </li>
            </ul>
        </li> -->
        <!-- <li>
            <a href="https://github.com/modularcode/modular-admin-html">
                <i class="fa fa-github-alt"></i> Theme Docs </a>
        </li> -->
    </ul>
</nav>
