<!DOCTYPE html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- my own resource -->
    <link href="/mails/static/css/style.css" rel="stylesheet">
    <script src="/mails/static/js/myscript.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <p>Dialogue Act Types</p>
                </a>
            </div>
        </div>
    </nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form role="acttype" method="post" action="checktype" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <label for="upload_input"><span class="glyphicon glyphicon-open"></span> Upload Your Campagion File</label>
                    <input type="file" accept=".json" class="btn btn-secondary" name="upload_input">
                </fieldset>
                <div class="form-group">
                   <textarea class="form-control" rows="3" placeholder="input sentences..." name="user_sents"></textarea>
                </div>
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Check Act Types</button>
            </form>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> <b>Results</b>
                </div>
                <div class="panel-body">
                    <div class="col-md-9">
                        {% for sent in sent_list %}
                        <div class="panel panel-default sentence-panel">
                            <div class="panel-heading">
                                {% for j in sent['idlist'] %}
                                    <button class="btn btn-default btn-sm" type="button">
                                        {{ sent['labels'][j] }} <span class="badge"> {{ sent['probs'][j] }}</span>
                                    </button>
                                {% endfor %}
                            </div>
                            <div class="panel-body">{{ sent['content'] }}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <div class="well">
                            <p class="mail_body">{{ message }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
