{% extends "base.html" %}
{% set navlink_l1 = 'apps' %} 
{% set navlink_l2 = 'Stack Secure' %} 
{% block head %}
{% include "elements/_head.html" %}
<link rel="stylesheet" href="css/codemirror.css">

<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.3/cytoscape.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.js"></script>

<script src="js/codemirror.js"></script>
<script src="js/clike.js"></script>
<script src="js/stacksecure_index.js"></script>
{% endblock %}
{% block header %}
{% include "elements/_header.html" %}
{% endblock %}
{% block sidebar %}
{% include "elements/_sidebar.html" %}
{% endblock %}
{% block sidebar_footer %}
{% include "elements/_sidebar_footer.html" %}
{% endblock %}
{% block footer %}
{% include "elements/_footer.html" %}
{% endblock %}
{% block content %}
<article class="content">
  <section class="section">
    <!-- tabs -->
      <div class="card sameheight-item">
        <div class="card-block">
          <div class="card-title-block">
            <h3 class="title"> Stack Secure </h3>
          </div>
          <!-- Nav tabs -->
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="" class="nav-link active" data-target="#home-pills" aria-controls="home-pills" data-toggle="tab" role="tab">Editor</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link" data-target="#profile-pills" aria-controls="profile-pills" data-toggle="tab" role="tab">Explorer</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <!-- Editor -->
            <div class="tab-pane fade in active" id="home-pills">
              <div class="row sameheight-container">
                <div class="card card-default" id="code-snippet-card">
                  <div class="card-header">
                    <div class="header-block"> 
                      <p class="title"> Code Snippet </p> 
                    </div> 
                  </div> 
                  <div class="card-block">  </div> 
                  <textarea id="editor">// Insert security-related Java code snippet</textarea>
                  <div class="card-footer">
                    <button id="analyze-security"type="button" class="btn btn-primary-outline">Analyze</button>
                  </div> 
                </div>
              </div>
            </div>
            <!-- /.Editor -->
            <!-- /.Explorer -->
            <div class="tab-pane fade" id="profile-pills">
              <div class="row sameheight-container">
                <div class="card sameheight-item stats" data-exclude="xs">
                  <div class="card-block">
                    <div class="title-block">
                      <h4 class="title"> Dataset Overview </h4>
                      <p class="title-description">Uploaded file ... </p>
                    </div>
                    <div class="row row-sm stats-container">
                      <div class="col-xs-12 col-sm-12 stat-col">
                        <form id="file-upload" role="acttype" method="post" action="#" enctype="multipart/form-data">
                          <fieldset class="form-group">
                            <label for="upload-input"><span class="glyphicon glyphicon-open"></span> Upload Your .csv File</label>
                            <input type="file" accept=".csv" class="btn btn-secondary" id="upload-input">
                            <button id="btn-explore" class="btn btn-success btn-left">
                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Explore
                            </button>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row sameheight-container">
                <div class="col-md-6"> 
                  <div class="card card-danger" id="input-snippet-card"> 
                    <div class="card-header"> 
                      <div class="header-block"> 
                        <p class="title"> Input Code Snippet </p> 
                      </div> 
                    </div> 
                    <div class="card-block">  </div> 
                    <div id="input-snippet"> 
                      <pre id="pretty-input-snippet"> </pre>
                    </div>
                    <div class="card-footer">
                      <button id=next-snippet type="button" class="btn btn-primary-outline">Next</button>
                    </div> 
                  </div> 
                </div>
                <div class="col-md-6"> 
                  <div class="card card-success" id="similar-snippet-card"> 
                    <div class="card-header"> 
                      <div class="header-block"> 
                        <p class="title"> Similar Code Snippet </p> 
                      </div> 
                    </div> 
                    <div class="card-block">  </div> 
                    <div id="input-similar-snippet"> 
                      <pre id="pretty-input-similar-snippet"> </pre>
                    </div>
                    <div class="card-footer">
                      <button id="next-similar-snippet"type="button" class="btn btn-primary-outline">Next</button>
                    </div> 
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- /.card-block -->
      </div>
      <!-- /.card -->
    <!-- /.col-xl-6 -->
    <!-- code snippets-->
    <!--
    <div class="row sameheight-container">
      <div class="card card-default" id="code-snippet-card">
        <div class="card-header">
          <div class="header-block"> 
            <p class="title"> Code Snippet </p> 
          </div> 
        </div> 
        <div class="card-block">  </div> 
        <textarea id="editor">
// Insert security-related Java code snippet</textarea>
        <div class="card-footer">
          <button id="analyze-security"type="button" class="btn btn-primary-outline">Analyze</button>
        </div> 
      </div>
    </div>
    <div class="row sameheight-container">
      <div class="card sameheight-item stats" data-exclude="xs">
        <div class="card-block">
          <div class="title-block">
            <h4 class="title"> Dataset Overview </h4>
            <p class="title-description">Uploaded file ... </p>
          </div>
          <div class="row row-sm stats-container">
            <div class="col-xs-12 col-sm-12 stat-col">
              <form id="file-upload" role="acttype" method="post" action="#" enctype="multipart/form-data">
                <fieldset class="form-group">
                  <label for="upload-input"><span class="glyphicon glyphicon-open"></span> Upload Your .csv File</label>
                    <input type="file" accept=".csv" class="btn btn-secondary" id="upload-input">
                </fieldset>
                <div class="btn-group">
                  <button id="btn-explore" class="btn btn-success btn-left"><span
                        class="glyphicon glyphicon-search" aria-hidden="true"></span> Explore
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row sameheight-container">
      <div class="col-md-6"> 
        <div class="card card-danger" id="input-snippet-card"> 
          <div class="card-header"> 
            <div class="header-block"> 
              <p class="title"> Input Code Snippet </p> 
            </div> 
          </div> 
          <div class="card-block">  </div> 
          <div id="input-snippet"> 
            <pre id="pretty-input-snippet"> </pre>
          </div>
          <div class="card-footer">
            <button id=next-snippet type="button" class="btn btn-primary-outline">Next</button>
          </div> 
        </div> 
      </div>
      <div class="col-md-6"> 
        <div class="card card-success" id="similar-snippet-card"> 
          <div class="card-header"> 
            <div class="header-block"> 
              <p class="title"> Similar Code Snippet </p> 
            </div> 
          </div> 
          <div class="card-block">  </div> 
          <div id="input-similar-snippet"> 
            <pre id="pretty-input-similar-snippet"> </pre>
          </div>
          <div class="card-footer">
            <button id="next-similar-snippet"type="button" class="btn btn-primary-outline">Next</button>
          </div> 
        </div> 
      </div>-->
  </section>
</articile>
{% endblock %}
